{% extends 'base.html' %}

{% block content %}



<h1>{{ cates }}Category</h1>

<ul>
{% for post in category_posts %}

<li><a href="{% url 'article-detail' post.pk %}">
    {{post.title }}</a> - {{post.author.first_name }} {{post.author.last_name }} 
    {% if user.is_authenticated %}
   - <a href="{% url 'update_post' post.pk %}">Edit Blog</a>
    <a href="{% url 'delete_post' post.pk %}">Delete Blog</a>
    {% endif %}
    <br>
{{post.body | slice:":30"|safe }}</li>

{% endfor %}
</ul>
{% endblock %}
