/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: rgb(243, 248, 247);
}

h1, 
h2,
h3,
h4 {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Zain", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}

nav {
    background-color: rgba(13, 30, 104, 0.919);
}

nav ul { /* This is the bullet points (the ul) */
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover {
    background-color: #513b3b;
}

nav li:first-child{
    margin-right: auto;
}

nav li:last-child{
    margin-left: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(13, 30, 104, 0.919);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none; /* This hides the menu icon used in the sidebar nav */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a{
    width: 100%;
}
